* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans Bold", cursive;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  
    justify-content: space-around;
}
h1{
    text-align: center;
}
#container{
    display: grid;
    border: solid black;
    height: 500px;
    width: 500px;
}
.square{
    
}